body {
    font-family: "Roboto", sans-serif;
    background: #fff;
  }
.container {
    padding-top: 20px;
    width: 95%;
    min-width: 480px;
    margin: auto;
  }
.box{
      display: flex;
      flex-direction: row;
  }
.mdc-btn {
    min-width: 88px;
    height: 40px;
    padding: 0 16px;
    margin-top: 7px;
    border: 0;
    outline: 0;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #00796b;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(#414141, 0.5);
  }

.mdc-btn:hover {
    background-color: #004c40;
    }

.mdc-btn:active {
    box-shadow: 0 6px 4px 0 rgba(#414141, 0.3);
    }

.form {
    width: 230px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-right: 15px;
    box-shadow: 0 0 2px 2px rgba(#414141, 0.2);
    border: 3px solid #00796b;
    margin-bottom: 10px;
    border-radius: 20px;
  }

.form p {
      font-size: 20px;
      font-weight: bold;
      text-align: center; 
      color: #0a4831;
  }
.form input {
    width: 100%;
    margin-right: 12px;
    padding: 4px;
    outline: 0;
    border: 0;
    color: #263238;
    font-size: 18px;
    background-color: transparent;
    border-bottom: 2px solid #00796b;
  }
.form input::placeholder {
      color: #616161;
    }
.result{ 
      margin-top: 20px;
      line-height: 2em;
  }
.table_head {
    background-color:  #83c2ba;
}
.visible {
    display: none;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    max-height: 50%;
    /* width: 100%; Full width */
    /* height: 100%; Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* The Loader */
.overlay-loader {
	margin: auto;
	width: 97px;
	height: 97px;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.visible_loader {
	display: none;
}
.loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 97px;
	height: 97px;
	animation-name: rotateAnim;
		-o-animation-name: rotateAnim;
		-ms-animation-name: rotateAnim;
		-webkit-animation-name: rotateAnim;
		-moz-animation-name: rotateAnim;
	animation-duration: 0.2975s;
		-o-animation-duration: 0.2975s;
		-ms-animation-duration: 0.2975s;
		-webkit-animation-duration: 0.2975s;
		-moz-animation-duration: 0.2975s;
	animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
	animation-timing-function: linear;
		-o-animation-timing-function: linear;
		-ms-animation-timing-function: linear;
		-webkit-animation-timing-function: linear;
		-moz-animation-timing-function: linear;
}
.loader div {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid rgb(0,0,0);
	position: absolute;
	top: 2px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.loader div:nth-child(odd) {
	border-top: none;
	border-left: none;
}
.loader div:nth-child(even) {
	border-bottom: none;
	border-right: none;
}
.loader div:nth-child(2) {
	border-width: 2px;
	left: 0px;
	top: -4px;
	width: 12px;
	height: 12px;
}
.loader div:nth-child(3) {
	border-width: 2px;
	left: -1px;
	top: 3px;
	width: 18px;
	height: 18px;
}
.loader div:nth-child(4) {
	border-width: 3px;
	left: -1px;
	top: -4px;
	width: 23px;
	height: 23px;
}
.loader div:nth-child(5) {
	border-width: 3px;
	left: -1px;
	top: 4px;
	width: 31px;
	height: 31px;
}
.loader div:nth-child(6) {
	border-width: 4px;
	left: 0px;
	top: -4px;
	width: 39px;
	height: 39px;
}
.loader div:nth-child(7) {
	border-width: 4px;
	left: 0px;
	top: 6px;
	width: 49px;
	height: 49px;
}


@keyframes rotateAnim {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@-o-keyframes rotateAnim {
	from {
		-o-transform: rotate(360deg);
	}
	to {
		-o-transform: rotate(0deg);
	}
}

@-ms-keyframes rotateAnim {
	from {
		-ms-transform: rotate(360deg);
	}
	to {
		-ms-transform: rotate(0deg);
	}
}

@-webkit-keyframes rotateAnim {
	from {
		-webkit-transform: rotate(360deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes rotateAnim {
	from {
		-moz-transform: rotate(360deg);
	}
	to {
		-moz-transform: rotate(0deg);
	}
}